body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    text-align: center;
}

#direct {
    text-align: center;
}

#erase {
    padding: 10px 50px;
    margin: 0px 0px 15px 0px;
    position: relative;
    left: 45%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    background-color:beige;
}

#squares {
    padding: 20px;
    background-color: blanchedalmond;
    margin-bottom: 10px;
}

#container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

#grid {
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    height: 800px;
}

.gridbox {
    display: flex;
    height: 49px;
    width: 49px;
    border-style: groove;
    border-color: black;
    border-width: 0.5px;
}